/* EditItem.module.css */

.item-form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.label-col {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #333;
}

.form-control {
    padding: 10px;
    font-size: 16px;
}

.mb-3 {
    margin-bottom: 1.5rem !important;
}

.item-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
}

.item-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.deleteItem{
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; /* Remove underline by default */
    text-align: center;
    margin: 10px auto 10px;
    border-radius: 15px;
    background-color: #b63b3b;
    border: 0px black;
    height:40px;
    width:200px;
    transition: 0.4s;
}

.deleteItem:hover{
    background-color:#b97979;
    color: white;
}


.updateItem{
    color: var(--font-black-color);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; /* Remove underline by default */
    text-align: center;
    margin: 10px auto 10px;
    border-radius: 15px;
    background-color: var(--primary-theme-color);
    border: 0px black;
    height:40px;
    width:200px;
    transition: 0.4s;
}

.updateItem:hover{
    background-color:#3dd81e8c;
    color: var(--font-black-color);
}

.generateBtn{
    color: var(--font-black-color);
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none; /* Remove underline by default */
    text-align: center;
    margin: 10px auto 10px;
    border-radius: 15px;
    background-color: var(--primary-theme-color);
    border: 0px black;
    height:40px;
    width:300px;
    transition: 0.4s;
  }
  
  .generateBtn:hover{
    background-color:#3dd81e8c;
    color: var(--font-black-color);
  }

@media (max-width: 768px) {
    .label-col {
        justify-content: flex-start;
        padding-bottom: 5px;
    }
    .form-control {
        font-size: 14px;
    }
}
