:root{
    --main-background-color:#F8EAF4;/*Soft Pink*/
    --primary-theme-color:#D4E7D0;/*Pastel Green*/
    --faded-grey-color:#9D9D9D;
    --font-black-color:#000000;
    
    --main-desktop-side-padding:14%;
}